 <%= form_with(model: character, local: true) do |form| %>
   <% if character.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

       <ul>
       <% character.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>



   <div id="character">
     <div id="first-column">
       <div id="top-form">
         <div id="top-left">
           <%= form.text_field :name , id: "char-name", placeholder:"Name" %>
          <%= form.select :race, options_for_select(@races), prompt: "Select a Race" , id: "char-race"%>
          <%= form.select :job, options_for_select(@jobs), prompt: "Select a Job" , id: "char-job"%>
         </div>
       </div>

       <div id="stats">
         <div id="a-column">
           <%= form.label :Strength%>
          <%= form.text_field :str, class:"char-attr", id:"char-str" %>
          <%= form.label :Dexterity %>
          <%= form.text_field :dex, class:"char-attr", id:"char-dex" %>
          <%= form.label :Intelligence %>
          <%= form.text_field :int, class:"char-attr", id:"char-int" %>
          <%= form.label :Constitution %>
          <%= form.text_field :con, class:"char-attr", id:"char-con" %>
          <%= form.label :Charisma %>
          <%= form.text_field :cha, class:"char-attr", id:"char-cha" %>
          <%= form.label :Wisdom %>
          <%= form.text_field :wis, class:"char-attr", id:"char-wis" %>
        </div>
         <div id="b-column"></div>
         <div id="c-column"></div>
       </div>
       <button type="button" id="accept-stats">Accept Stats</button>
       <div id="error-list"></div>
     </div>

       <!-- <div id="selected-stats"></div> -->


     <div id="second-column">
         <div id="hp-box" >Health Points <span id="hp-span"></span> </div>
       <div id="roll-stats">
         <button type="button" id="roll-dice">ROLL <span id="roll-amount"></span> </button>
         <ul id="rolled-nums" ></ul>
         <button type="button" id="accept-button" disabled>Accept</button>
       </div>
     </div>

     <div id="third-column">
       <div id="init" class="box">Initiative <span id="init-span"></span> </div>
       <div id="speed" class="box">Speed
         <span id="speed-span"></span>
       </div>
       <div id="armor-class" class="box">Armor Class
        <span id="armor-span"></span> </div>
       <div id="prof" class="box">Proficiency <span id="prof-span">2</span> </div>
     </div>
     <div id="fourth-column" >
       <div id="selected-char-top"></div>

       <div id="selected-char-head">

         <div id="selected-char-head">
          <img id="selected-img" src="" alt="" style="height:600px;>
        </div>


       </div>



     </div>

   </div>





 <%# @stats.each do %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
